<script src="https://kit.fontawesome.com/d4515c3dae.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

<div class="container-fluid header">
  <div class="col-md-12">
      <a href="/home">
        <i class="fas fa-bookmark fa-3x"></i>
        <span class="header-title"> Minerva</span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="row title-bar">
    <div class="title">
      New Entry
    </div>
  </div>
    <div class="row">
      <%= form_for :journal_entries, :url => {:action => "create", :id => @journal_entry}, local: true do |form| %>
        <div class="col-md-12 field">
          <%= form.label :title %>
          <%= form.text_field :title %><br><br>

          <%= form.label :body %>
          <%= form.text_area :body %><br><br>

          <%= form.hidden_field :journal_id, :value => @journal_id %>
          <%= form.hidden_field :edited, :value => false %>
        </div>
        <div class="submit">
          <%= form.submit "Create", class: 'btn' %>
        </div>
      <% end %>
    </div>
   <div class="row footer">
       <div class="col-md-12">
           <div class="short-intro">
               <p>Create personal journals with Minerva</p><br>
           </div>
       </div>
   </div>
</div>
