<script src="https://kit.fontawesome.com/d4515c3dae.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

<div class="container-fluid header">
  <div class="col-md-12">
      <a href="/home">
        <i class="fas fa-bookmark fa-3x"></i>
        <span class="header-title"> Minerva</span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="row title-bar">
    <div class="col-md-10 title">
      Journals
      <div class="col-md-2 new btn">
          <%= link_to 'New Journal', "/journals/new" %>
      </div>
    </div>
    <div class="col-md-2 search">
      <%= form_tag journals_path, method: :get, id: "search" do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :class=>'btn btn-sm' %>
      <% end %>
    </div>
  </div>
  <div class="row journals">
  	<% @journals.each do |journal| %>
        <div class="col-md-12 panel">
            <div>
              <%= link_to journal.name, journal %>
            </div>

            <p class="time">Created: <%= journal.created_at.to_time.strftime('%B %e at %l:%M %p') %></p>
            <div class="actions delete">
              <%= link_to journal, :method => :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
        </div>
		<% end %>
    </div>
    <div class="row footer">
        <div class="col-md-12">
            <div class="short-intro">
              <p>Create personal journals with Minerva</p><br>
            </div>
        </div>
    </div>
</div>
