<script src="https://kit.fontawesome.com/d4515c3dae.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

<div class="container-fluid header">
  <div class="col-md-12">
      <a href="/home">
        <span style="color: #F8B195;"><i class="fas fa-bookmark fa-3x"></i></span>
        <span style="font-family: 'Comfortaa'; color:white; font-size: 48pt;"> Minerva</span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="row title-bar">
    <div class="title">
      Journals
      <div class="col-md-12 actions new-journal">
          <%= link_to 'New Journal', "/journals/new" %>
      </div>
    </div>
  </div>
    <div class="row journals">
  	<% @journals.each do |journal| %>
        <div class="col-md-12 journal">
            <div>
              <%= link_to journal do %>
                <h1><%= journal.name %></h1>
              <% end %>
            </div>

            <p class="time">Created: <%= journal.created_at.to_time.strftime('%B %e at %l:%M %p') %></p>
            <div class="actions delete">
              <%= link_to journal, :method => :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash"></i>
              <% end %>
            </div>
        </div>
		<% end %>
    </div>
    <div class="row footer">
        <div class="col-md-12">
            <div class="short-intro">
                <p>Create personal journals with Minerva<br> <a href="/about">Learn more here</a></p><br>
            </div>
        </div>
    </div>
</div>
