<script src="https://kit.fontawesome.com/d4515c3dae.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

<div class="container-fluid header">
  <div class="col-md-12">
      <a href="/home">
        <i class="fas fa-bookmark fa-3x"></i>
        <span class="header-title"> Minerva</span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="back">
    <%= link_to '/home' do %>
      <i class="fas fa-chevron-left"></i>
      Back to Journals
    <% end %>
  </div>
  <div class="row title-bar">
    <div class="title">
      <%= @journal.name %>
      <div class="new btn">
        <%= link_to 'New Entry', controller: "journal_entries", action: "new", journal_id: @journal.id  %>
      </div>
    </div>
    <div class="col-md-2 search">
      <%= form_tag journal_path, method: :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= hidden_field_tag :id, @journal.id %>
      <%= submit_tag "Search", :class=>'btn btn-sm' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    	<% @journal_entries.each do |entry| %>
          <div class="col-md-12 panel">
              <div>
                <%= link_to entry.title, controller: "journal_entries", action: "show", id: entry.id, journal_id: @journal.id %>
              </div>
              <div class="edit">
                <%= link_to edit_journal_journal_entry_path(id: entry.id, journal_id: entry.journal_id) do %>
                  <i class="fas fa-edit"></i>
                <% end %>
              </div>
              <div class="delete">
                <%= link_to "#{entry.id}", :method => 'delete', data: {confirm: "Are you sure?"} do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
              <p class="time">Created: <%= entry.created_at.to_time.strftime('%B %e at %l:%M %p') %></p>
              <% if entry.edited %>
                <p class="time">Updated: <%= entry.updated_at.to_time.strftime('%B %e at %l:%M %p') %></p>
              <% end %>
          </div>
  		<% end %>
  </div>

<% if @journal_entries.length > 0 %>
  <div class="panel chart">
    <%= select_tag "chart_options", options_for_select(["Past Week", "Past Month", "Past Year", "All"], "Past Week") %>
    <div id="chart"></div>
  </div>
<% else %>
  <div class="panel">You have no journal entries at this time. Start writing!</div>
<% end %>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_tag do %>
    google.charts.load('current', {'packages':['bar']});
    google.charts.setOnLoadCallback(drawChart);
    var chartOptions = document.getElementById('chart_options');
    chartOptions.addEventListener("change", drawChart);

    function drawChart() {
      switch(chartOptions.value) {
        case 'Past Week':
          var data = JSON.parse('<%= @totals_for_week.to_json.html_safe %>');
          var xName = 'Days';
          var title = 'Entries for the past week';
          break;
        case 'Past Month':
          var data = JSON.parse('<%= @totals_for_month.to_json.html_safe %>');
          var xName = 'Days';
          var title = 'Entries for the past month';
          break;
        case 'Past Year':
          var data = JSON.parse('<%= @totals_for_year.to_json.html_safe %>');
          var xName = 'Months';
          var title = 'Entries for the past year';
          break;
        case 'All':
          var data = JSON.parse('<%= @totals.to_json.html_safe %>');
          var xName = 'Months';
          var title = 'All entries';
          break;
      }
      data = [[xName, 'Count']].concat(data);
      data = google.visualization.arrayToDataTable(data);
      var options = {
        chart: {
          title: title,
        }
      };

      var chart = new google.charts.Bar(document.getElementById('chart'));
      chart.draw(data, google.charts.Bar.convertOptions(options));
    }
  <% end %>

  <div class="row footer">
      <div class="col-md-12">
          <div class="short-intro">
            <p>Create personal journals with Minerva</p><br>
          </div>
      </div>
  </div>
</div>
