<script src="https://kit.fontawesome.com/d4515c3dae.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

<div class="container-fluid header">
  <div class="col-md-12">
      <a href="/home">
        <span style="color: #F8B195;"><i class="fas fa-bookmark fa-3x"></i></span>
        <span style="font-family: 'Comfortaa'; color:white; font-size: 48pt;"> Minerva</span>
    </a>
  </div>
</div>

<div class="container-fluid">
  <div class="back">
    <%= link_to '/home' do %>
      <i class="fas fa-chevron-left"></i>
      Back to Journals
    <% end %>
  </div>
  <div class="row title-bar">
    <div class="title">
      <%= @journal.name %>
      <div class="actions new-entry">
        <%= link_to 'New Entry', controller: "journal_entries", action: "new", journal_id: @journal.id  %>
      </div>
    </div>
  </div>
  <div class="row entries">
    	<% @journal_entries.each do |entry| %>
          <div class="col-md-12 entry">
              <h2><%= entry.title %></h2>
              <p class="time">Created: <%= entry.created_at.to_time.strftime('%B %e at %l:%M %p') %></p>
              <% if entry.edited %>
                <p class="time">Updated: <%= entry.updated_at.to_time.strftime('%B %e at %l:%M %p') %></p>
              <% end %>
              <div class="actions view">
                  <%= link_to 'View', controller: "journal_entries", action: "show", id: entry.id, journal_id: @journal.id %>
              </div>
          </div>
  		<% end %>
  </div>
  <div class="row footer">
      <div class="col-md-12">
          <div class="short-intro">
              <p>Create personal journals with Minerva<br> <a href="/about">Learn more here</a></p><br>
          </div>
      </div>
  </div>
</div>
